# Виртуальное окружение
.venv/
venv/

# Python артефакты
__pycache__/
*.pyc
*.pyo
*.pyd

# База данных (рабочие данные, на сервере создаётся сама)
sonp.sqlite3

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db
